body {
    background-image: url("xwing.jpg");
    color: yellow;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 175%;
}

img {
    max-width: 90%;
    vertical-align: middle;
}

#logo {
    margin-bottom: 20px;
    text-align: center;
}

#fight {
    height: 300px;
}

#game {
    width: 1000px;
    margin: 0 auto;
}

#fighters {
    width: 850px;
    height: 300px;
    margin: 0 auto;
    align-content:center;
}

#instructions {
    margin: 0 auto;
    max-width: 50%;
    background: rgba(255, 255, 255, 0.247);
    text-align: center;
    border: solid 1px green;
    padding: 20px;
}

.photoContainer {
    width: 150px;
    height: 200px;
    float: left;
    border: 5px solid green;
    background: white;
    margin: 0 20px 0 20px;
    text-align:center;
    line-height: 200px;
    padding: 5px;
}



